<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :senha %>
    <%= f.text_field :senha %>
  </div>

  <div class="field">
    <%= f.label :perfil_id %>
    <%= f.select :perfil_id, Perfil.all.collect {|p| [ p.tipo.capitalize, p.id ] }, {include_blank: 'Escolha um perfil'} %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
